body {
  background-color: #333333;
  color: white;
}

a:visited {
  color: white;
}

a {
  color: white;
}

.hcenter {
  display: flex;
  align-items: center;
  justify-content: center
}

.menu {
  display: grid;
  grid-template-columns: 10em 25em; */
  grid-template-rows: auto;
  grid-template-areas:
  "specr specr"
  "value value";
  font-size: 1.5em;
}

.num, .qvalue {
  font-size: 1.3em;
}

.num {
    width: 8em;
}

.qvalue {
    width: 6em;
}

input {
  font-size: 1.5em;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 0.2em;
}

.grid-min-height {
  min-height: 6.5em;
}

.specr {
  grid-area: specr;
}

.value {
  grid-area: value;
}

.value-textbox {
  width: 18em;
  /* font-size: 0.6em; */
  font-size: 1em;
}

button {
  font-size: 2em;
  font-size: 1em;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 0.2em;
  float: right;
}

.settings {
  border-radius: 0.5em;
  color: black;
  margin: 0.1em;
  padding: 1em;
  background-color: #dbdbdb;
}

.bold {
  font-weight: bold;
}

.rem {
  margin-left: 0.5em;
}
